
@{
    ViewBag.Title = "Departement";
    Layout = "~/Views/Layout/LayoutPatient.cshtml";
}

<section class="inner-bg over-layer-black" style="background-image: url('~/Content/img/bg/4.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-4">

            </div>
        </div>
    </div>
</section>
<section class="depertment-area">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-4">
                    <div class="depertment-col">
                        <div class="depertment-list">
                            <a href="@Url.Action("Departement", "DepartementPatient")"><i class="flaticon-heart"></i> Chirurgie Depertement</a>
                            <a href="@Url.Action("Departement2", "DepartementPatient")"><i class="flaticon-broken-bone"></i> Radiothérapie Depertement</a>
                            <a href="@Url.Action("Departement3", "DepartementPatient")"><i class="flaticon-stomach-1"></i> Hématologie Depertement</a>
                            <a href="@Url.Action("Departement4", "DepartementPatient")"><i class="flaticon-brain"></i> Anesthésiologie Depertement</a>
                            <a href="@Url.Action("Departement5", "DepartementPatient")"><i class="flaticon-spine-bone"></i> Pédiatrie Depertement</a>
                            <a href="@Url.Action("Departement6", "DepartementPatient")"><i class="flaticon-virus"></i> Dentaire Depertement</a>
                            <a href="@Url.Action("Departement7", "DepartementPatient")"><i class="flaticon-kidney"></i> Dermatology Depertement</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">

                    <img src="@Url.Content("~/Content/img/depertment/5.jpg") ">
                    <h3 class="margin-top-30"> Chirurgie Depertement</h3>
                    <p>
                        La chirurgie est la partie de la thérapeutique qui implique des opérations internes ou des manœuvres externes1 sur les tissus, notamment par incision et suture. Un chirurgien est un professionnel de la santé habilité à pratiquer la chirurgie (médecin spécialiste, chirurgien-dentiste, vétérinaire). Un acte médical pratiqué par un chirurgien est une opération chirurgicale
                    </p>
                    <div class="col-md-6">
                    </div><div class="col-md-6">
                        <a href="@Url.Action("Chirurigie","DepartementPatient")" class="btn btn-simple">voir docteurs</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>