@model WebApplication1.Models.CustomerRegisterDoctor




@{
    ViewBag.Title = "inscription";
   // Layout = "~/Views/Layout/Layout.cshtml";
    Layout=null;
}


<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.5.1.js" type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/jquery-ui.js" type="text/javascript"></script>
    <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/redmond/jquery-ui.css" rel="stylesheet" type="text/css" />
    
<style type="text/css">
    .ui-autocomplete-loading {
        background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat;
    }

    #searchBox {
        width: 25em;
    }
</style>



<script>
        $(document).ready(function () {
            $("#searchBox").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "http://dev.virtualearth.net/REST/v1/Locations",
                        dataType: "jsonp",
                        data: {
                            key: "AhqGdXnm0BoWBdvy0tVxKykB1kSqF832wnD7kaXpbnMe3wv7ZZKDNUMU7muj_5TV",
                            q: request.term
                        },
                        jsonp: "jsonp",
                        success: function (data) {
                            var result = data.resourceSets[0];
                            if (result) {
                                if (result.estimatedTotal > 0) {
                                    response($.map(result.resources, function (item) {
                                        return {
                                            data: item,
                                            label: item.name + ' (' + item.address.countryRegion + ')',
                                            value: item.name
                                        }
                                    }));
                                }
                            }
                        }
                    });
                },
                minLength: 1,
                change: function (event, ui) {
                    if (!ui.item)
                        $("#searchBox").val('');
                },
                select: function (event, ui) {
                    displaySelectedItem(ui.item.data);
                }
            });
        });

        function displaySelectedItem(item) {
            $("#searchResult").empty().append('Result: ' + item.name).append(' (Latitude: ' + item.point.coordinates[0] + ' Longitude: ' + item.point.coordinates[1] + ')');
        }
</script>

<section class="inner-bg over-layer-black" style="background-image: url('~/Content/img/bg/4.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-4">

            </div>
        </div>
    </div>
</section>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterPatient</title>
</head>
<body>
    @using (Html.BeginForm("RegisterDoctor", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form",  enctype = "multipart/form-data"  }))
    {

        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })

        <br />
        <br />
        <div class="container">
            <h4> Inscription </h4>
            <div class="col justify-content-md-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="login-screen">
                        <div class="login-box">

                            <div class="row gutters">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.firstName, new { placeholder = " Nom", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.lastName, new { placeholder = " Prenom", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Email, new { placeholder = " Email", @class = "form-control" })
                                    </div>
                                </div>


                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.cin, new { placeholder = " Numéro carte identité", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.PhoneNumber, new { placeholder = " Numéro de téléphone", @class = "form-control" })
                                    </div>
                                </div>



                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group"  >
                                        @Html.TextBoxFor(m => m.Address, new { placeholder = "please choose valid Adresse", @class = "form-control" ,id= "searchBox" })
                                    </div>
                                </div>
                   

          
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        @Html.PasswordFor(m => m.Password, new { placeholder = " Password", @class = "form-control" })
                                    </div>
                                </div>


                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = " confirm Password", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    @Html.RadioButtonFor(m => m.gender, "Femme", new { @class = "radio-inline" })@Html.Label("Femme")
                                </div>
                                <div class="form-group">
                                    @Html.RadioButtonFor(m => m.gender, "Homme", new { @class = "radio-inline" })@Html.Label("Homme")


                                </div>

                                <div class="form-group">
                                    <label for="file">Upload Image:</label>
                                    <div class="col-md-10">
                                        <input type="file" name="image" id="image" style="width: 100%;" />
                                    </div>
                                </div>



                            </div>
                           
                                <button type="submit" class="btn btn-primary btn-block">Signup</button>
                            </div>


                            <a href="@Url.Action("SingIn", "Home")" class="additional-link">Have an Account? <span>Login Now</span></a>
                        </div>
                    </div>
                </div>
            </div>

   

    }
       }
  
    </body>
</html>

