
@{
    ViewBag.Title = "Departement6";
    Layout = "~/Views/Layout/Layout.cshtml";
}

<section class="inner-bg over-layer-black" style="background-image: url('~/Content/img/bg/4.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-4">

            </div>
        </div>
    </div>
</section>
<section class="depertment-area">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-4">
                    <div class="depertment-col">
                        <div class="depertment-list">
                            <a href="@Url.Action("Departement", "Departement")"><i class="flaticon-heart"></i> Chirurgie Depertement</a>
                            <a href="@Url.Action("Departement2", "Departement")"><i class="flaticon-broken-bone"></i> Radiothérapie Depertement</a>
                            <a href="@Url.Action("Departement3", "Departement")"><i class="flaticon-stomach-1"></i> Hématologie Depertement</a>
                            <a href="@Url.Action("Departement4", "Departement")"><i class="flaticon-brain"></i> Anesthésiologie Depertement</a>
                            <a href="@Url.Action("Departement5", "Departement")"><i class="flaticon-spine-bone"></i> Pédiatrie Depertement</a>
                            <a href="@Url.Action("Departement6", "Departement")"><i class="flaticon-virus"></i> Dentaire Depertement</a>
                            <a href="@Url.Action("Departement7", "Departement")"><i class="flaticon-kidney"></i> Dermatology Depertement</a>
</div>
                    </div>
                </div>
                <div class="col-md-8">
                   
                    <img src="@Url.Content("~/Content/img/blog/w1.jpg") ">
                    <h3 class="margin-top-30"> Dentaire Depertment</h3>
<p>
    L’odontologie est la spécialité médicale et chirurgicale couvrant l'étude de
     l'organe dentaire (émail, dentine, pulpe dentaire), des maxillaires 
    (os maxillaire, os mandibulaire) et des tissus attenants. <br />
    Les tissus attenants aux sièges anatomiques dentaires et maxillaires 
    intégrés au domaine de l'odontologie occupent l'intégralité de la cavité 
    orale et plusieurs loges anatomiques adjacentes. <br />
     On distingue notamment le parodonte (cément, gencive, os alvéolaire, ligament
     alvéolo-dentaire, espace desmodontale), la muqueuse buccale 
    (muqueuse alvéolaire, jugale, vestibulaire, palatine, linguale), 
    les glandes salivaires (glandes parotides, submandibulaires, sublinguales et accessoires),
     la langue et les articulations temporo-mandibulaires. <br />
     La pratique de l'odontologie comporte la prévention, le diagnostic et le
     traitement des pathologies congénitales ou acquises, réelles ou 
    supposées de l'ensemble de ces structures anatomiques oro-faciales3. <br />
     Cette spécialité medico-chirurgicale est exercée par les praticiens de l'art dentaire,
     nommés chirurgiens-dentistes ou médecins-dentistes, l'appellation variant suivant les
     pays3,4. Les médecins stomatologistes peuvent également exercer l'odontologie dans 
    le cadre de leur exercice professionnel
</p>

                    <div class="col-md-6">
                    </div><div class="col-md-6">
                              <a href="@Url.Action("dentaire", "Departement")" class="btn btn-simple">Voir Docteurs</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

